extends layout

block content
  h1= title
  div(class='postContainer')
    for post in posts 
      div(class='postCard')
        h2= post.title
        h3= post.content
        div(class='postCardDetails')
          h4= post.date
          if admin 
            //- h4 Hidden: #{post.hidden}
            if post.hidden 
              h4 This Post is Hidden
            else 
              h4 This Post is NOT Hidden
          h4 COMMENTS: #{post.comments.length}
          a(href=(admin ? '/admin' : '') + '/posts/' + post._id class='moreButton') 
            h4 MORE...
