extends layout

block content
  h1= title
  for post in posts 
    div 
      h3= post.title
      p= post.content
      p= post.date
      if admin 
        p Hidden: #{post.hidden}
      h4 COMMENTS: #{post.comments.length}
      a(href=(admin ? '/admin' : '') + '/posts/' + post._id) MORE

  if admin 
    a(href='admin/posts/new') NEW POST