extends layout

block content
  h1= title
  //- p= posts
  for post in posts 
    div 
      h3= post.title
      p= post.content
      p= post.date
      h4 COMMENTS: #{post.comments.length}
      //- p= post._id
      a(href='/posts/' + post._id) LINK TO SPECIFIC PAGE
      //- for comment in post.comments 
      //-   div 
      //-     p= comment.comment 
      //-     p= comment.author 
      //-     p= comment.date
