extends layout 

block content 
  if admin
    div(class='postCard')
      h1= title

      form(method='post' action='')
        div(class='formInput')
          label(for='title') TITLE: 
          input(type='text' name='title' id='title' value=(post ? post.title : ''))

        div(class='formInput')
          label(for='content') CONTENT: 
          textarea(name='content' id='content' rows=15)=(post ? post.content : '')

        if post
          p Post Hidden Status: #{post.hidden}
        else 
          p #{''}

        div(class='postCardDetails')
          if post && post.hidden
            div(class='radioButton')
              label(for='hiddenValTrue') True
              input(type='radio' name='hiddenVal' id='hiddenValTrue' value=1 checked)

              label(for='hiddenValFalse') False 
              input(type='radio' name='hiddenVal' id='hiddenValFalse' value=0 )
          else
            div(class='radioButton')
              label(for='hiddenValTrue') True
              input(type='radio' name='hiddenVal' id='hiddenValTrue' value=1 )
              
              label(for='hiddenValFalse') False 
              input(type='radio' name='hiddenVal' id='hiddenValFalse' value=0 checked)

          button(type='submit') 
            h4 #{post ? 'Update Post' : 'Make New Post'}
  else 
    h1 You're not an admin, you're not supposed to be here