extends layout 

block content 
  h1= title 
  //- p #{data.post}
  h1= data.post.title
  p= data.post.content
  p= data.post.date

  h2 Comments: 
  for comment in data.comments
    div
      p= comment.comment 
      p= comment.author
      p= comment.date
    //- p #{comment}

  //- p #{data.comments}